<section class="pagination">
  <% if (curerentPage != 1 && previousPage !=1) { %>
  <a href="?page=1">1</a>
  <% } %> <% if (hasPreviousPage) { %>
  <a href="?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>
  <a href="?page=<%= curerentPage %>" class="active"><%= curerentPage %></a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %> <% if (lastPage !== curerentPage && lastPage !== nextPage) { %>
  <a href="?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>
